version: "3.8"

services:
  db:
    image: postgres:15
    container_name: teams_db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - db_data:/var/lib/postgresql/data

  server:
    build:
      context: ./TeamsServer_
      dockerfile: dockerfile
    container_name: teams_server
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    tty: true

volumes:
  db_data: