
services:
  db:
    image: postgres:15
    container_name: teams_db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 2s
      timeout: 2s
      retries: 10
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - db_data:/var/lib/postgresql/data

  server:
    build:
      context: ./TeamsServer_
      dockerfile: dockerfile
    container_name: teams_server
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "${SERVERAUTH_PORT}:${SERVERAUTH_PORT}"
      - "${SERVERCHAT_PORT}:${SERVERCHAT_PORT}"
    tty: true

volumes:
  db_data: