<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleName</key>
    <string>TeamsClient_</string>

    <key>CFBundleIdentifier</key>
    <string>com.example.TeamsClient</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>NSCameraUsageDescription</key>
    <string>La caméra est utilisée pour les appels vidéo.</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>Le microphone est utilisé pour les appels audio.</string>

</dict>
</plist>