name: Build TeamsClient_

on:
  workflow_dispatch:
  #push:
    #branches: [ "main" ]
  #pull_request:
    #branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build-client:
    runs-on: macos-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        brew update
        brew install cmake boost qt@6

    - name: Configure CMake
      run: |
        mkdir -p build/TeamsClient_
        cd build/TeamsClient_
        cmake "${{ github.workspace }}/TeamsClient_" \
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
          -DCMAKE_PREFIX_PATH=$(brew --prefix qt@6)/lib/cmake/Qt6

    - name: Build
      run: |
        cd build/TeamsClient_
        make -j$(sysctl -n hw.ncpu)
