name: Build TeamsClient_

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release
  QT_VERSION: "6.9.3"
  QT_PATH: "$HOME/Qt/6.9.3/macos"

jobs:
  build-client:
    runs-on: macos-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        brew install cmake boost

    - name: Configure CMake
      run: |
        mkdir -p build/TeamsClient_
        cd build/TeamsClient_
        cmake "${{ github.workspace }}/TeamsClient_" \
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
          -DCMAKE_PREFIX_PATH=${{ env.QT_PATH }}/lib/cmake/Qt6

    - name: Build
      run: |
        cd build/TeamsClient_
        make -j$(sysctl -n hw.ncpu)
